<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ycble.runchinaup">


    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application>

        <service
            android:name="ycble.runchinaup.ota.absimpl.htx.BluetoothLeService"
            android:enabled="true"
            android:exported="true" />


        <receiver android:name=".core.BleScanner$ScannerReceiver">
            <intent-filter>
                <action android:name="lib.ycble.device.ACTION_FOUND" />
            </intent-filter>
        </receiver>
    </application>


</manifest>
